@font-face {
  font-family: "Maple Mono Normal";
  src: url("https://static.lucas04.top/static/MapleMono/MapleMonoNormal-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono NF CN";
  src: url("https://static.lucas04.top/static/MapleMono/MapleMonoNormal-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono Normal";
  src: url("https://static.lucas04.top/static/MapleMono/MapleMonoNormal-RegularItalic.woff2")
    format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono NF CN";
  src: url("https://static.lucas04.top/static/MapleMono/MapleMonoNormal-RegularItalic.woff2")
    format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono Normal";
  src: url("https://static.lucas04.top/static/MapleMono/MapleMonoNormal-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono NF CN";
  src: url("https://static.lucas04.top/static/MapleMono/MapleMonoNormal-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono Normal";
  src: url("https://static.lucas04.top/static/MapleMono/MapleMonoNormal-MediumItalic.woff2")
    format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono NF CN";
  src: url("https://static.lucas04.top/static/MapleMono/MapleMonoNormal-MediumItalic.woff2")
    format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono Normal";
  src: url("https://static.lucas04.top/static/MapleMono/MapleMonoNormal-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono NF CN";
  src: url("https://static.lucas04.top/static/MapleMono/MapleMonoNormal-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono Normal";
  src: url("https://static.lucas04.top/static/MapleMono/MapleMonoNormal-BoldItalic.woff2")
    format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono NF CN";
  src: url("https://static.lucas04.top/static/MapleMono/MapleMonoNormal-BoldItalic.woff2")
    format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

:root {
  --vp-font-family-mono: "Maple Mono NF CN", "Maple Mono Normal", ui-monospace,
    SFMono-Regular, SFMono-Medium, SFMono, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --vp-font-weight-mono: 500;

  --vp-c-brand-1: rgba(102, 169, 201, 1); /* 链接颜色、强调色 */
  --vp-c-brand-2: rgb(41, 130, 186); /* 链接、按钮 hover 颜色 */
  --vp-c-brand-3: rgba(81, 196, 211, 1); /* 背景色、边框色 */
  --vp-c-brand-soft: rgba(87, 195, 194, 0.314); /* 辅助色 */

  --vp-c-text-1: rgba(60, 60, 67); /* 主要文本 */
  --vp-c-text-2: rgba(60, 60, 67, 0.78); /* 次要文本 */
  --vp-c-text-3: rgba(60, 60, 67, 0.56); /* 辅助文本 */

  --vp-c-bg: #fff; /* 主体背景 */
  --vp-nav-bg-color: #fff; /* 导航栏背景 */
  --vp-nav-screen-bg-color: #fff; /* 移动端导航栏 */
  --vp-local-nav-bg-color: #fff; /* 页面内导航栏 */
  --vp-sidebar-bg-color: #f6f6f7; /* 侧边栏背景 */
  --vp-code-block-bg: #f6f8fa; /* 代码块背景 */
}

code,
kbd,
pre,
samp {
  font-family: var(--vp-font-family-mono);
  font-weight: var(--vp-font-weight-mono);
}

[data-theme="dark"] {
  --vp-c-brand-1: rgba(23, 129, 181, 1); /* 链接颜色、强调色 */
  --vp-c-brand-2: rgba(81, 196, 211, 1); /* 链接、按钮 hover 颜色 */
  --vp-c-brand-3: #5086a1; /* 背景色、边框色 */
  --vp-c-brand-soft: rgba(131, 208, 218, 0.314); /* 辅助色 */

  --vp-c-text-1: rgba(255, 255, 245, 0.86); /* 主要文本 */
  --vp-c-text-2: rgba(235, 235, 245, 0.6); /* 次要文本 */
  --vp-c-text-3: rgba(235, 235, 245, 0.38); /* 辅助文本 */

  --vp-c-bg: #1b1b1f; /* 主体背景 */
  --vp-nav-bg-color: #1b1b1f; /* 导航栏背景 */
  --vp-nav-screen-bg-color: #1b1b1f; /* 移动端导航栏 */
  --vp-local-nav-bg-color: #1b1b1f; /* 页面内导航栏 */
  --vp-sidebar-bg-color: #161618; /* 侧边栏背景 */
  --vp-code-block-bg: #202127; /* 代码块背景 */
}
