<!--
Disqus for this site is disabled.
TODO: remove
-->

<div class="card-panel z-depth-2">
  <div id="giscus_thread"></div>
  <script src="https://giscus.app/client.js"
  data-repo="Lucas04-nhr/lucas04-nhr.github.io"
  data-repo-id="R_kgDOLLIYvQ"
  data-category="General"
  data-category-id="DIC_kwDOLLIYvc4Cd0iA"
  data-mapping="title"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="1"
  data-input-position="top"
  data-theme="light"
  data-lang="en"
  data-loading="lazy"
  crossorigin="anonymous"
  async>
</script>
<noscript>Please enable JavaScript to view the comments powered by Gisqus.</noscript>

  <div class="giscus" id="giscus-target">
    <p>Comments</p>
  </div>

</div>
